{% if mail %}
{% set id, name, code, fantasy, type, _, _, _, _, _, _, _, _, _, _, _ = mail %}
{% set picid = type[:3]|upper ~ code[-5:] ~ id %}
{% else %}
{% set id = ""%}
{% set name = ""%}
{% set code = ""%}
{% set fantasy = ""%}
{% set type = ""%}
{% set picid = "---"%}
{% endif %}

<img src="/pictures/temp/{{ tmp_id }}.jpg" alt="Preview"
    class="hover:scale-105 transition-all cursor-pointer h-[50vh] w-[30vh] m-8 mx-auto rounded-sm shadow-lg border border-slate-200 justify-self-center">

<form method="post" action="/mails-api/registerExit"
    class="flex mx-4 mb-4 items-end justify-between self-end h-max">
    <button onclick="prepareExitValues()"
        class="cursor-pointer h-11 disabled:bg-light-default-main/40 enabled:hover:text-light-default-secondary bg-light-default-main enabled:text-white disabled:text-black w-70 font-bold py-3 shadow-md transform active:scale-95 transition-all uppercase tracking-wide mt-4 rounded-sm"
        type="submit">Registrar Saida</button>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="code" value="{{ code }}">
    <input type="hidden" id="sub_people" name="people" value="">
    <input type="hidden" id="sub_date" name="date" value="">
    <input type="hidden" name="picture_id" value="{{ picid }}">
    <input type="hidden" name="tmp_picture_id" value="{{ tmp_id }}">
    <input type="hidden" name="final_submit" value="true">
</form>

<div
    class="rounded-t-sm bg-white h-[20vh] overflow-x-auto overflow-y-scroll scrollbar-hide self-end mx-4 mb-4 border-b border-gray-600">
    <div
        class="grid grid-cols-[1cm_1fr_3.2cm_0.5fr_5.2cm_3.7cm_2.8cm] pr-2  *:transition-colors *:duration-300 bg-light-default-main cursor-pointer text-white sticky top-0 z-10 gap-2 *:h-10 font-semibold border-b border-gray-600 text-sm min-w-300 *:flex *:items-center *:justify-center *:select-none">
        <span>ID</span>
        <span>Nome</span>
        <span>Codigo AR</span>
        <span>Nome Fantasia</span>
        <span>Recebedor(a)</span>
        <span>Saída</span>
        <span>Comprovante</span>
    </div>

    <div class="flex flex-col">
        <form method="post" action="/mails-api/registerExit"
            class="*:truncate *:overflow-hidden *:whitespace-nowrap grid-cols-[1cm_1fr_3.2cm_0.5fr_5.2cm_3.7cm_2.8cm]  duration-300 transition-colors grid gap-2 py-2 pr-2 border-b border-gray-700/50 hover:bg-light-default-main/15 items-center text-xs text-center *:text-ellipsis *:whitespace-nowrap *:overflow-hidden *:truncate">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <span>{{id}}</span>
            <span class="text-start">{{name}}</span>
            <input required name="code" value="{{ code }}" autocomplete="off"
                class="font-semibold text-center rounded-sm p-1 border border-gray-300 focus:ring-2 focus:ring-light-default-main outline-none appearance-none bg-white"></input>
            <span class="text-start">{{fantasy}}</span>
            <input id="inp_people" name="people" type="text" value="{{ potential_people[0] }}"
                class="text-center rounded-sm p-1 border border-gray-300 focus:ring-2 focus:ring-light-default-main outline-none appearance-none bg-white">
            <input id="inp_date" type="date" name="date" value="{{ date }}"
                class="text-center rounded-sm p-1 border border-gray-300 focus:ring-2 focus:ring-light-default-main outline-none appearance-none bg-white">
            <span
                class="rounded-sm duration-300 transition-colors cursor-pointer bg-gray-600/20 hover:bg-light-default-main hover:text-white py-1">
                {{ picid }}
            </span>
            <input type="text" name="tmp_id" value="{{ tmp_id }}" hidden>
            <button type="submit" hidden></button>
        </form>

    </div>
</div>
