<form action="/mails-api/registerPickup" method="post"
    class="p-8 bg-white rounded-xl shadow-lg overflow-hidden border-t-4 border-light-default-main row-span-2 w-[40vmax] self-center h-[30vmax] gap-x-3 justify-self-center grid *:w-full *:mb-8">
    <input type="hidden" id="csrf-token" value="{{ csrf_token() }}">
    <h2 class="text-3xl! mt-8 font-bold text-center text-light-default-main">Registro de Coleta</h2>

    <div>
        <label class="block font-semibold text-gray-600 mb-1">Codigo de Rastreio da Correspondencia</label>
        <input name="code" type="text" minlength="4" required placeholder="Ex: AB123456789BR"
            autocomplete="off"
            class="rounded-sm w-full px-4 py-2 border border-gray-300 focus:ring-2 focus:ring-light-default-main focus:border-transparent outline-none transition-all">
    </div>
    <div>
        <label class="block font-semibold text-gray-600 mb-1">Coletor Responsavel</label>
        <select required name="user"
            class="rounded-sm w-full px-4 py-2 border border-gray-300 focus:ring-2 focus:ring-light-default-main outline-none appearance-none bg-white">
            {% for user in users %}
            <option value="{{ user[0] }}">{{ user[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit"
        class="cursor-pointer rounded-sm h-11 hover:text-light-default-secondary w-full bg-light-default-main text-white font-bold py-3 shadow-md transform active:scale-95 transition-all uppercase tracking-wide mt-4">Salvar
        Registro</button>
</form>