<form action="/api/register-user" method="post" id="register-user"
    class="p-8 bg-white rounded-xl shadow-lg overflow-hidden border-t-4 border-default-main row-span-2 w-[40vmax] self-center h-[30vmax] gap-x-3 justify-self-center grid *:w-full *:mb-8">
    <h2 class="text-3xl! mt-8 font-bold text-center text-default-main">Cadastro de Usuario</h2>
    <div>
        <label class="block font-semibold text-gray-600 mb-1">Nome Completo</label>
        <input name="username" type="text" minlength="4" required placeholder="Ex: Gustavo Ribeiro Silva"
            class="rounded-sm w-full px-4 py-2 border border-gray-300 focus:ring-2 focus:ring-default-main focus:border-transparent outline-none transition-all">
    </div>
    <div>
        <label class="block font-semibold text-gray-600 mb-1">Cargo</label>
        <select required name="role"
            class="rounded-sm w-full px-4 py-2 border border-gray-300 focus:ring-2 focus:ring-default-main outline-none appearance-none bg-white">
            {% for role in roles %}
            <option value="{{ role[0] | title }}">{{ role[0] | title }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit"
        class="cursor-pointer rounded-sm h-11 hover:text-default-secondary w-full bg-default-main text-white font-bold py-3 shadow-md transform active:scale-95 transition-all uppercase tracking-wide mt-4">Salvar
        Registro</button>
</form>