<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Correspondencias</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/mails/mails_mobile.css">

    <link rel="manifest" href="/templates/mails/manifest.json">

    <script src="/static/js/mails/mails_mobile.js" defer></script>

    <link rel="icon" href="/static/imgs/logo/Nerd-Mails.png" type="image/png+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

    </header>
    <main>

    </main>
</body>

</html>