<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Correspondencias</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/mails/mails_mobile.css">

    <link rel="manifest" href="/templates/mails/manifest.json">

    <script src="/static/js/mails/mails_mobile.js" defer></script>

    <link rel="icon" href="/static/imgs/logo/nerd-mails.png" type="image/png+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <h1>
            Sistema de Correspondencias
        </h1>

    </header>
    <main>
        <div id="camera-container" class="camera-container">
            <video id="camera" autoplay playsinline></video>
            <canvas id="canvas" hidden></canvas>
        </div>

        <footer>
            <button id="captureBtn" onclick="capture()"></button>
        </footer>
        <!-- <div class="container" id="ship-container">
            <form class="ship-container ship-almox" id="ship-almox" style="display: none;">
                <h1 id="reception-insert-message">Preencha os campos abaixo!</h1>

                <input id="mail_code" name="code" type="text" placeholder="Codigo AR" required>

                <select id="receiver_name" name="type" required>
                    <option value="kayro">Kayro</option>
                    <option value="guilherme">Guilherme</option>
                    <option value="gustavo">Gustavo</option>
                    <option value="other">Outro(a)</option>
                </select>

                <select id="sender_name" name="type" required>
                    <option value="yara">Yara</option>
                    <option value="lidia">Lidia</option>
                    <option value="other">Outro(a)</option>
                </select>

                <button class="submit" onclick="receivedOnReception()" type="button"
                    id="reception-submit">Enviar</button>
            </form>

            <div class="ship-container ship-mall" id="ship-mall">
                <input type="file" id="file_input" accept=".jpg, .jpeg, .png, .jpe" style="display: none">
                <div id="image-container" class="image-container" onclick="">
                    Clique para selecionar uma imagem!
                </div>
                <button class="submit" id="updateReceiver-button" onclick="updateReceiver()">Enviar</button>
            </div>
        </div> -->
    </main>
</body>

</html>