<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correspondencias</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- <link href="/static/css/main.css" rel="stylesheet"> -->
</head>

<body class="bg-blue-800 grid h-screen">

    <header class="grid col-span-64 row-span-2 grid-cols-48 text-white">
        <div class="cursor-pointer row-span-2 col-span-2 flex items-center justify-center">
            <svg class="w-10 h-10" viewBox="0 25 70 50">
                <path class="stroke-8 stroke-white" d="M 0,30 H 70" />
                <path class="stroke-8 stroke-white" d="M 0,50 H 70" />
                <path class="stroke-8 stroke-white" d="M 0,70 H 70" />
            </svg>
        </div>

        <h1 class="flex row-span-2 col-start-18 col-span-14 justify-center items-center text-3xl">
            Sistema de Correspondencia
        </h1>
    </header>

    <!-- <div class="grid col-span-6 row-span-full">
        SIDEBAR
    </div> -->

    <main class="bg-white col-span-64 row-start-3 row-span-34">
        test
    </main>
</body>

</html>