<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correspondencias</title>

    <script src="/static/js/mails/new_mails.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="/static/css/main.css" rel="stylesheet">
</head>

<body class="bg-default-blue grid grid-rows-[1.7cm_auto] h-screen relative">
    <header class="grid grid-cols-48 text-white">
        <div id="open-sidebar" class="cursor-pointer row-span-2 col-span-2 flex items-center justify-center">
            <svg class="w-8 h-8" viewBox="0 25 70 50">
                <path class="stroke-8 stroke-white" d="M 0,30 H 70" />
                <path class="stroke-8 stroke-white" d="M 0,50 H 70" />
                <path class="stroke-8 stroke-white" d="M 0,70 H 70" />
            </svg>
        </div>

        <h1 class="flex row-span-2 col-start-18 col-span-14 justify-center items-center text-3xl select-none ">
            Sistema de Correspondencia
        </h1>
    </header>

    <aside id="sidebar"
        class="fixed block top-0 left-0 z-50 h-screen w-64 bg-default-blue text-white shadow-2xl transform transition-transform duration-300 ease-in-out border-r-4 -translate-x-full">
        <img src="/static/imgs/logo/Nerd-Mails.png" alt="nerd_logo" class="absolute select-none h-16 top-3 right-25">

        <div id="close-sidebar" class="absolute top-0 right-0 cursor-pointer">
            <svg class="w-7 h-7 cursor-pointer" viewBox="0 25 70 50">
                <path class="stroke-8 stroke-white" d="M 15,30 L 55,70" />
                <path class="stroke-8 stroke-white" d="M 15,70 L 55,30" />
            </svg>
        </div>

        <div class="*:border-y-gray-400 *:select-none *:border-y *:cursor-pointer *:py-3.5 *:pl-2.5 *:transition-all *:duration-100 *:hover:border-l-6
        flex flex-col gap-6 pt-24" id="aside-options">
        </div>
    </aside>

    <div id="sidebar-overlay" class="fixed inset-0 bg-black/50 hidden z-40"></div>
    <main class="**:**:text-sm flex overflow-hidden bg-white row-start-2">
    </main>
</body>

</html>