<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
    <link href="/static/css/main.css" rel="stylesheet">

    <script src="/static/js/initial/login.js"></script>

    <link rel="icon" href="/static/imgs/logo/Nerd-Mails.png" type="image/png+xml">
</head>

<body class="flex bg-gray-200 justify-center items-center h-screen">
    <main class="grid bg-white grid-flow-col grid-cols-[1fr_12cm] h-140 w-270 rounded-4xl z-1">
        <div id="message-body"
            class="flex flex-col bg-default-main rounded-r-[3cm] rounded-l-4xl text-white items-center justify-center">
            <h3 class="font-bold text-4xl">Bem Vindo(a)!</h3>
            <h1 class="m-8">Digite seu nome e sua senha ao lado para ter acesso a todo o software!!!</h1>
        </div>
        <form id="form"
            class="flex flex-col justify-center font- items-center *:my-3 **:transition-colors **:ease-in-out **:duration-300"
            action="initial/login" method="post">
            <h1 class="font-bold text-4xl">Login</h1>
            <div class="w-11/15">
                <h2 id="your-name" class="pb-2">Seu Nome</h2>
                    <input class="duration-300 transition-colors rounded-sm border border-gray-300 focus:ring-2 focus:ring-default-main 0 bg-gray-200 h-11 w-full px-4" required minlength="4" placeholder="Nome"
                        name="username" id="" type="text">
            </div>

        
            <div class="w-11/15 ">
                <h2 id="your-pass" class="pb-2">Sua Senha</h2>
                    <input class="duration-300 transition-colors rounded-sm border border-gray-300 focus:ring-2 focus:ring-default-main  bg-gray-200 h-11 w-full px-4" required minlength="6" placeholder="Senha"
                        name="password" id="" type="password">
            </div>
            <button
                class="hover:text-default-secondary rounded-sm active:scale-95 cursor-pointer font-bold hover:text-default-green h-11 w-11/15 bg-default-main text-white duration-300 transition-all"
                type="submit">Entrar</button>
            <div class="mt-8 text-gray-400">
                Não tem uma conta?
                <a class="cursor-pointer font-bold hover:text-default-green">Registre-se</a>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div
                class="p-4 mb-4 text-sm rounded-lg {% if category == 'danger' %} bg-red-100 text-red-700 {% else %} bg-yellow-100 text-yellow-700 {% endif %}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
    </main>

    <footer class="text-black/50 absolute bottom-2">©Copyright 2026 Brigada Nerd. All rights reserved.</footer>
</body>


</html>